:root {
  --color-rojo: #E42223;
  --color-blanco-texto: #fafafa;
  --color-negro-fondo: #212121;
}

* {
  font-family: Roboto, Arial, Helvetica;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 80px;
}

h1, h2, h3 {
  color: var(--color-rojo);
}

section {
  min-height: 90dvh;
  display: grid;
  grid-template-rows: 80px  repeat(2,1fr);
  justify-self: top; 
  margin: 30px 0;
}

section ul li:hover {
  transform: scale(1.1);
}

header {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 15px;
  background-color: var(--color-rojo);
  position: fixed;
}

header * {
  color: var(--color-blanco-texto);
}

body {
  display: grid;
  grid-template-columns: 5;
  place-items: Top;
  position: relative;
  max-width: 100dvw;
  min-height: 100dvh;
  background-color: #fff;
  
}

main {
  column-span: all;
  padding: 30px;
}

main h2 {
  font-weight: bold;
  font-size:x-large;
  color: var(--color-rojo);
}

/* Menu section */

#menu_Section {
  margin-top: 80px;
  max-width: 100%;
}

#menu_Section h2 {
  grid-row: span 1;
}

#menu_List {
  grid-row: span 2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 0;
}

#menu_List li {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  max-width: 350px;
  border-radius: 18px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  gap: 15px;
}

#menu_List li img {
  border-radius: 15px;
  width: 100%;
}

#menu_List p {
  text-align: center;
}

/* Socios Section */

#socios_Section {
  max-width: 100%;
}

#socios_Container {
  grid-row: span 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin: 0;
}

#socios_Container li {
  display: grid;
  place-items: center;
  padding: 15px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  min-height: 200px;
  max-width: 300px;
}

#socios_Container h3 {
  color: var(--color-rojo);
}

#socios_Container li img {
  max-width: 100%;
}

/* Nos escargamos de - section */

#weDo_Section {
  max-width: 100%;
  margin: 30px 0;
}

#weDo_List {
  margin: 10px 0;
}

#weDo_List li {
  display: flex;
  justify-content: left;
  align-items: center;
}

#weDo_List li img {
  margin-right: 4px;
}


#whatsApp_Button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

#whatsApp_Button:hover {  
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

#whatsApp_Button img {
  width: 4.5rem;
}

footer {
  display: grid;
  place-items: center;
}

footer p{
  font-size: small;
}